body {
  width: 100%;
  margin: 0;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 10;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

.landing {
  overflow: hidden;
  position: relative;
  background: #174799 url('https://www.imageupload.co.uk/images/2018/01/24/bg.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}

.landing .shapes.shapes1 {
  background: url('https://www.imageupload.co.uk/images/2018/01/24/shape1.png') no-repeat center;
}

.landing .shapes.shapes2 {
  background: url('https://www.imageupload.co.uk/images/2018/01/24/shape.png') no-repeat center;
}

.landing .shapes.shapes3 {
  background: url('https://www.imageupload.co.uk/images/2018/01/24/shape2.png') no-repeat center;
}

.landing .shapes.shapes4 {
  background: url('https://www.imageupload.co.uk/images/2018/01/24/shape3.png') no-repeat center;
}

.landing .shapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing .shapes2 {
  padding-top: 300px;
}

.landing .shapes4 {
  z-index: 0;
}

/*.landing .layer {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
